body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top :30px;
}
html{
  overflow-y:scroll; 
}
a {
  color: #00B7FF;
}
#todo-list{
  margin-bottom: 30px;
}
#todo-form{
  margin-bottom: 50px;
}
.strike {
    text-decoration: line-through;
}
